### Items.json

#### Importando libreria.

In [2]:
import pandas as pd
import numpy as np
import sys

In [2]:
ruta= (r'C:\Users\ingju\Desktop\jrPI_1\fusion')
sys.path.append(ruta)
import funciones as fun

#### Creando DataFrame, con la función importada en un paquete.

In [3]:
items_dic = {'user_id':[], 'items_count':[], 'steam_id':[], 'user_url':[], 'items':[]} # creando el diccionario donde se almacenara la información.
desa = fun.desanidar(r'C:\Users\ingju\Desktop\jrPI_1\data\00Original\australian_users_items.json', items_dic)
items = desa
items
items.head()

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [4]:
items['user_id'] = items['user_id'].astype(str)

#### Observando la Informacion del DataFrame.

In [5]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

#### Observando si tenemos varores duplicados.

In [6]:
items[items['user_id'].duplicated(keep=False)].sort_values(by='user_id')

,user_id,items_count,steam_id,user_url,items
11000,05041129,35,76561198167088451,http://steamcommunity.com/id/05041129,"[{'item_id': '4000', 'item_name': 'Garry's Mod..."
29193,05041129,35,76561198167088451,http://steamcommunity.com/id/05041129,"[{'item_id': '4000', 'item_name': 'Garry's Mod..."
37062,10outof10matee,56,76561198050688208,http://steamcommunity.com/id/10outof10matee,"[{'item_id': '220', 'item_name': 'Half-Life 2'..."
37061,10outof10matee,56,76561198050688208,http://steamcommunity.com/id/10outof10matee,"[{'item_id': '220', 'item_name': 'Half-Life 2'..."
6167,111222333444555666888,52,76561198082607692,http://steamcommunity.com/id/11122233344455566...,"[{'item_id': '240', 'item_name': 'Counter-Stri..."
...,...,...,...,...,...
4625,youseeitnowgetout,5,76561198087136132,http://steamcommunity.com/id/youseeitnowgetout,"[{'item_id': '230410', 'item_name': 'Warframe'..."
3473,zandado,107,76561198057890701,http://steamcommunity.com/id/zandado,"[{'item_id': '20', 'item_name': 'Team Fortress..."
34176,zandado,107,76561198057890701,http://steamcommunity.com/id/zandado,"[{'item_id': '20', 'item_name': 'Team Fortress..."
12417,zeroblade,306,76561197970272666,http://steamcommunity.com/id/zeroblade,"[{'item_id': '18110', 'item_name': 'Shattered ..."
31866,zeroblade,306,76561197970272666,http://steamcommunity.com/id/zeroblade,"[{'item_id': '10', 'item_name': 'Counter-Strik..."

#### Eliminando valores duplicados.

In [7]:
items.drop_duplicates(subset='user_id', keep='first',inplace=True)
items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [9]:
items['items_count'] = items['items_count'].astype(int)

#### Guardando el DataFrame en un archivo ,parquet para que pese menos.

In [10]:
items.to_parquet(r'C:\Users\ingju\Desktop\jrPI_1\data\02Items\01_Items.parquet')

In [11]:
items= pd.read_parquet(r'C:\Users\ingju\Desktop\jrPI_1\data\02Items\01_Items.parquet')
items = pd.DataFrame(items)
items

,user_id,items_count,steam_id,user_url,items
index,,,,,
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

#### Desanidando la columna items.

In [12]:
items_items = {'user_id':[], 'item_id':[], 'item_name':[], 'playtime_forever':[], 'playtime_2weeks':[]}
for index, array in enumerate(items['items']):
    for item in eval(str(array)):
        for clave, valor in item.items():
            items_items[clave].append(valor)
        items_items['user_id'].append(items.iloc[index]['user_id'])
items_items = pd.DataFrame(items_items)
items_items

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...
5094077,76561198329548331,346330,BrainBread 2,0,0
5094078,76561198329548331,373330,All Is Dust,0,0
5094079,76561198329548331,388490,One Way To Die: Steam Edition,3,3
5094080,76561198329548331,521570,You Have 10 Seconds 2,4,4
5094081,76561198329548331,519140,Minds Eyes,3,3

#### Uniendo los dataframe.

In [16]:
itemsMarge =(pd.merge(items_items, items, left_on="user_id", right_on="user_id")[["user_id","items_count","item_id","item_name","playtime_forever","playtime_2weeks"]])
itemsMarge.to_parquet(r'C:\Users\ingju\Desktop\jrPI_1\data\02Items\04_itemsMarge')
itemsMarge.head()

,user_id,items_count,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,10,Counter-Strike,6,0
1,76561197970982479,277,20,Team Fortress Classic,0,0
2,76561197970982479,277,30,Day of Defeat,7,0
3,76561197970982479,277,40,Deathmatch Classic,0,0
4,76561197970982479,277,50,Half-Life: Opposing Force,0,0

#### Liberando espacio en memoria.

In [17]:
del items, items_items, itemsMarge

#### Creando el DataFrame con el archivo .parquet

In [20]:
items_items = pd.DataFrame(pd.read_parquet(r'C:\Users\ingju\Desktop\jrPI_1\data\02Items\04_itemsMarge'))
items_items.head()

,user_id,items_count,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,10,Counter-Strike,6,0
1,76561197970982479,277,20,Team Fortress Classic,0,0
2,76561197970982479,277,30,Day of Defeat,7,0
3,76561197970982479,277,40,Deathmatch Classic,0,0
4,76561197970982479,277,50,Half-Life: Opposing Force,0,0

In [21]:
items_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5094082 entries, 0 to 5094081
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   items_count       int32
 2   item_id           object
 3   item_name         object
 4   playtime_forever  int64
 5   playtime_2weeks   int64
dtypes: int32(1), int64(2), object(3)
memory usage: 213.8+ MB

#### Eliminando columna inecesria para nuestro objetivo.

In [22]:
items_items = items_items[items_items['playtime_forever']!=0]
items_items

,user_id,items_count,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,10,Counter-Strike,6,0
2,76561197970982479,277,30,Day of Defeat,7,0
8,76561197970982479,277,300,Day of Defeat: Source,4733,0
9,76561197970982479,277,240,Counter-Strike: Source,1853,0
10,76561197970982479,277,3830,Psychonauts,333,0
...,...,...,...,...,...,...
5094075,76561198329548331,7,304930,Unturned,677,677
5094076,76561198329548331,7,227940,Heroes & Generals,43,43
5094079,76561198329548331,7,388490,One Way To Die: Steam Edition,3,3
5094080,76561198329548331,7,521570,You Have 10 Seconds 2,4,4
5094081,76561198329548331,7,519140,Minds Eyes,3,3

#### Guardando DataFrame en un archivo .parquet.

In [23]:
items_items.to_parquet(r'C:\Users\ingju\Desktop\jrPI_1\data\02Items\03_Items.parquet')

#### Creando un DataFrame con el ultimo archivo creado en .parquet

In [3]:
items_f = pd.DataFrame(pd.read_parquet(r'C:\Users\ingju\Desktop\jrPI_1\data\02Items\03_Items.parquet'))
items_f.head()

,user_id,items_count,item_id,item_name,playtime_forever,playtime_2weeks
index,,,,,,
0,76561197970982479,277,10,Counter-Strike,6,0
2,76561197970982479,277,30,Day of Defeat,7,0
8,76561197970982479,277,300,Day of Defeat: Source,4733,0
9,76561197970982479,277,240,Counter-Strike: Source,1853,0
10,76561197970982479,277,3830,Psychonauts,333,0

#### Liberando espacio en memoria.

In [ ]:
del items_items

#### Almacenando item_f.

In [27]:
%store items_f

Stored 'items_f' (DataFrame)

In [28]:
items_f.shape

(3246352, 6)

In [29]:
items_f['item_id'] = items_f['item_id'].astype(int)

In [30]:
items_f['item_id'].unique()

array([    10,     30,    300, ..., 367090, 448540, 485270])

In [31]:
valor_buscado = 10
fila = items_f.loc[items_f['item_id']==valor_buscado]
fila

,user_id,items_count,item_id,item_name,playtime_forever,playtime_2weeks
index,,,,,,
0,76561197970982479,277,10,Counter-Strike,6,0
1635,doctr,541,10,Counter-Strike,93,0
3737,corrupted_soul,115,10,Counter-Strike,108,0
4610,WeiEDKrSat,28,10,Counter-Strike,328,0
5175,death-hunter,121,10,Counter-Strike,6275,0
...,...,...,...,...,...,...
5088875,EnVyIsSmexy,10,10,Counter-Strike,11,0
5090907,3214213216,107,10,Counter-Strike,38,0
5091296,76561198273508956,15,10,Counter-Strike,21,0
5091484,76561198282090798,5,10,Counter-Strike,1,0
5091565,76561198283312749,49,10,Counter-Strike,6,0

In [32]:
items_f['items_count'] = items_f['items_count'].astype(int)